<section>
    <h1>Hello products</h1>
    <div class="products-page-container">
        {{#each products}}
            <h2>{{this.name}}</h2>
            {{#if this.soldePrice}}
                <p>{{this.soldePrice}}</p>
            {{else}}
                <p>{{this.price}}</p>
            {{/if}}
            <a href="/products/details/{{this.id}}">Plus de details ici</a>
        {{/each}}
    </div>
</section>